<header class="site-header">

  <div class="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li>
                {% for my_page in site.pages %}
                  {% if my_page.title %}
                  <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                  {% endif %}
                {% endfor %}
            </li>-->
            <li><a href="index.html#page-1">01 | Who I Am</a></li>
            <li><a href="index.html#page-2">02 | What I Do</a></li>
            <li><a href="index.html#page-3">03 | Awards</a></li>
            <li><a href="index.html#page-4">04 | Thank You</a></li>
            <li><a href="index.html#page-5">05 | Press</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  </div>

</header>
